/build/
/dist/

/Online_shop/build/
/Online_shop/dist/
/Online_shop/nbproject/

/Online_shop/nbproject/ant-deploy.xml
/Online_shop/nbproject/build-impl.xml
/Online_shop/nbproject/build-impl.xml~
/Online_shop/nbproject/genfiles.properties
/Online_shop/nbproject/project.properties
/Online_shop/nbproject/project.xml

/Online_shop/nbproject/private/private.properties
/Online_shop/nbproject/private/private.xml

/Online_shop/src/java/DAL/DBcontext.java
